@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Prata&display=swap');
@import "tailwindcss";

hr{
  border-color: #D1D5DB;
}
a.active hr{
    display: block;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  *{
    font-family:"Lora", serif;
  }
  button{
    cursor: pointer;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  @media (max-width:640px){
    a.active{
      background-color: black;
      color: white;
    }
  }